body {
  background-color: #eee;
}

.button{
  max-width: 430px;
  text-align:center;
  align:center;
}

button{
  max-width: 430px;
  text-align:center;
  align:center;
}
.container {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 430px;
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  padding-bottom:10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#footer {
    padding: 5px 10px 10px 50px;
    width: 100%;
    border-top: 1px solid #DDD;
    background-color: #F7F7F7;
    bottom: 0px;
    position: fixed;
    height: 35px;
}
